@import url("https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700,900");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: rgb(31, 31, 37);
}

/* search bar */
.search {
  text-align: center;
  padding: 40px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon{
  color: rgb(31, 31, 37);
  font-size: 25px;
  margin-right: 20px;
}

.input{
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 0px;
}

::placeholder{
  color: rgb(184, 184, 184);
}

text--:focus, input:focus{
  outline: none;
}

/* image grid */
.images {
  padding: 40px;
  padding-top: 50px;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  border-radius: 30px;
  margin: 10px;
}

/* create four equal columns that sits next to each other */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 10px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* card */
.card {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(218, 218, 218, 0.5);
}

.container p{
  margin: 3px;
  font-size: 13px;
}

.container{
  padding: 15px;
  padding-bottom: 10px;
}

a, a:hover, a:visited{
  text-decoration: none;
  color: white;
}

/* stats */
.stat{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.stat p{
  font-weight: 500;
  font-size: 16px;
  margin-right: 15px;
}

.stat-icon{
  font-size: 20px;
  margin-top: 2px;

}

/* tags */
.tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  border-radius: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgb(165, 233, 245);
  padding: 2px 9px 2px 9px;
}

.tag p{
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color:rgb(31, 130, 148);
}
